div.tempo-website-wrapper {
  background-color: #ffffff;
  max-width: 100%;
}
div.tempo-website-wrapper div#tempo-page.tempo-page {
  background-color: transparent;
}
div.tempo-breadcrumbs {
  background: #f5f5f5;
  position: relative;
}
div.tempo-breadcrumbs div.details span.counter-wrapper {
  background: #ffffff;
  color: #282828;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs div.details span.counter-wrapper {
    margin-right: 0px;
  }
}
div.tempo-breadcrumbs div.details div.avatar-wrapper img {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs div.details div.avatar-wrapper img {
    margin: 0px 30px 0px 0px;
  }
}
div.tempo-breadcrumbs div.tempo-container.main {
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 1680px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media (max-width: 1440px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
@media (max-width: 1380px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media (max-width: 1280px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}
@media (max-width: 1199px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 30px;
    padding-bottom: 27px;
  }
}
@media (max-width: 991px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 28px;
    padding-bottom: 26px;
  }
}
@media (max-width: 767px) {
  div.tempo-breadcrumbs div.tempo-container.main {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
div.tempo-breadcrumbs div.delimiter {
  display: none;
}
div.tempo-breadcrumbs h1.tempo-headline {
  color: #282828;
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}
@media (max-width: 1680px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 46px;
    line-height: 58px;
  }
}
@media (max-width: 1440px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 1380px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 1280px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 37px;
    line-height: 47px;
  }
}
@media (max-width: 1199px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 35px;
    line-height: 43px;
  }
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 991px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs h1.tempo-headline {
    margin-left: 5px;
  }
}
div.tempo-breadcrumbs nav.tempo-navigation {
  margin-left: 33px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  div.tempo-breadcrumbs nav.tempo-navigation {
    margin-left: 3px;
  }
}
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li {
  color: #bababa;
  font-size: 16px;
  font-weight: bold;
}
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li a {
  border: none;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: bold;
}
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li a:hover {
  border: none;
  color: #26ad60;
}
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li#home-text a span,
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li#home-text a:hover span {
  border: none;
}
div.tempo-breadcrumbs nav.tempo-navigation ul.tempo-menu-list li:last-child:after {
  content: normal;
}
.tempo-search-key {
  background: #fffddd;
  padding: 0px;
  margin: 0px;
}
aside + div.tempo-breadcrumbs {
  margin-top: 0px;
}
aside + div.tempo-breadcrumbs:before {
  display: none;
}
body.page div.tempo-breadcrumbs nav.tempo-navigation,
body.post div.tempo-breadcrumbs nav.tempo-navigation {
  margin-right: 33px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  body.page div.tempo-breadcrumbs nav.tempo-navigation,
  body.post div.tempo-breadcrumbs nav.tempo-navigation {
    margin-right: 3px;
  }
}
body.tempo-not-has-header div.tempo-breadcrumbs {
  margin-top: 60px;
}
body.tempo-not-has-header div.tempo-breadcrumbs:before {
  content: '';
  position: absolute;
  height: 30px;
  top: -30px;
  left: 0px;
  width: 100%;
  background-color: inherit;
}
body.tempo-not-has-header aside + div.tempo-breadcrumbs {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 0px;
}
body.tempo-not-has-header aside + div.tempo-breadcrumbs:before {
  display: none;
}
body.tempo-not-has-header header + aside {
  margin-top: 60px;
}
body.tempo-not-has-header header + aside:before {
  content: '';
  position: absolute;
  height: 30px;
  top: -30px;
  left: 0px;
  width: 100%;
  background-color: inherit;
}
body.tempo-not-has-header div#tempo-page {
  margin-top: 60px;
  position: relative;
}
body.tempo-not-has-header div#tempo-page:before {
  content: '';
  position: absolute;
  height: 2px;
  top: -30px;
  left: 0px;
  width: 100%;
  background-color: #f5f5f5;
}
body.tempo-not-has-header div.tempo-breadcrumbs + div#tempo-page {
  margin-top: 0px;
}
body.tempo-not-has-header div.tempo-breadcrumbs + div#tempo-page:before {
  content: none;
}
body.tempo-not-has-header aside + div#tempo-page {
  margin-top: 0px;
}
body.tempo-not-has-header aside + div#tempo-page:before {
  content: none;
}
form.tempo-search-form button,
form.tempo-search-form button[type="submit"] {
  margin: 0px;
}
div.tempo-categories,
div.tempo-categories * {
  word-wrap: initial;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
section div.tempo-video-thumbnail {
  -webkit-box-shadow: 0 20px 35px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 20px 35px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 35px -5px rgba(0, 0, 0, 0.5);
}
article.tempo-article h2.tempo-title {
  position: relative;
}
article.tempo-article h2.tempo-title a {
  font-weight: bold;
}
article.tempo-article h2.tempo-title a:before,
article.tempo-article h2.tempo-title a:after {
  display: none;
}
article.tempo-article h2.tempo-title a:hover {
  color: #000000;
}
article.tempo-article h2.tempo-title a:hover:before,
article.tempo-article h2.tempo-title a:hover:after {
  display: none;
}
article.tempo-article h2.tempo-title:before {
  background: rgba(58, 64, 67, 0);
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0px;
  height: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
article.tempo-article h2.tempo-title:hover:before {
  background: rgba(58, 64, 67, 0.8);
  width: 35%;
}
article.tempo-article.classic {
  border-width: 1px;
  border-color: #ECECEC;
  position: relative;
  padding: 130px 0px 80px 0px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic {
    padding: 124px 0px 72px 0px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic {
    padding: 112px 0px 65px 0px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic {
    padding: 107px 0px 62px 0px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic {
    padding: 99px 0px 58px 0px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic {
    padding: 93px 0px 54px 0px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic {
    padding: 79px 0px 46px 0px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic {
    padding: 77px 0px 45px 0px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic {
    padding: 60px 0px 36px 0px;
  }
}
@media (max-width: 540px) {
  article.tempo-article.classic {
    padding: 42px 0px 34px 0px;
  }
}
@media (max-width: 480px) {
  article.tempo-article.classic {
    padding: 37px 0px 32px 0px;
  }
}
article.tempo-article.classic h2.tempo-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 36px;
  line-height: 64px;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 40px 0px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 34px;
    line-height: 62px;
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 40px 0px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 32px;
    line-height: 56px;
    margin: 0px 0px 36px 0px;
    padding: 0px 0px 36px 0px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 30px;
    line-height: 54px;
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 32px 0px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 28px;
    line-height: 50px;
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 28px 0px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 26px;
    line-height: 46px;
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 28px 0px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 24px;
    line-height: 42px;
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 28px 0px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 24px;
    line-height: 40px;
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 28px 0px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 24px;
    line-height: 38px;
    margin: 0px 0px 26px 0px;
    padding: 0px 0px 26px 0px;
  }
}
@media (max-width: 540px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 22px;
    line-height: 36px;
    margin: 0px 0px 26px 0px;
    padding: 0px 0px 26px 0px;
  }
}
@media (max-width: 480px) {
  article.tempo-article.classic h2.tempo-title {
    font-size: 22px;
    line-height: 36px;
    margin: 0px 0px 26px 0px;
    padding: 0px 0px 26px 0px;
  }
}
article.tempo-article.classic h2.tempo-title a {
  color: #3a4043;
  padding-top: 0px;
  padding-bottom: 0px;
}
article.tempo-article.classic h2.tempo-title a:before,
article.tempo-article.classic h2.tempo-title a:after {
  display: none;
}
article.tempo-article.classic h2.tempo-title a:hover {
  color: #26ad60;
}
article.tempo-article.classic h2.tempo-title a:hover:before,
article.tempo-article.classic h2.tempo-title a:hover:after {
  display: none;
}
article.tempo-article.classic div.tempo-categories {
  background: #3a4043;
  color: #ffffff;
  height: 30px;
  position: relative;
  display: inline-block;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  float: right;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
}
@media (max-width: 780px) {
  article.tempo-article.classic div.tempo-categories {
    display: none;
  }
}
article.tempo-article.classic div.tempo-categories span {
  display: inline-block;
  padding: 3px 15px;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
article.tempo-article.classic div.tempo-categories i {
  display: inline-block;
  background-color: #26ad60;
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
  text-align: center;
}
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 3px 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  border-right: 3px solid #26ad60;
  border-bottom: none;
  text-transform: uppercase;
}
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):after {
  display: none;
}
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #ffffff;
}
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.classic div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:after {
  display: none;
}
article.tempo-article.classic div.tempo-categories ul {
  min-width: 100%;
  position: absolute;
  display: none;
  right: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 1;
  text-align: right;
  -webkit-box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
}
article.tempo-article.classic div.tempo-categories ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}
article.tempo-article.classic div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #26ad60;
  padding: 8px 15px 8px 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: max-content;
  min-width: 100%;
  display: block;
  text-transform: uppercase;
}
article.tempo-article.classic div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
}
article.tempo-article.classic div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #ffffff;
}
article.tempo-article.classic div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
article.tempo-article.classic div.tempo-categories ul li:first-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border-top: none;
}
article.tempo-article.classic div.tempo-categories ul li:last-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
article.tempo-article.classic div.tempo-categories:hover ul {
  display: block;
}
article.tempo-article.classic div.tempo-meta.top {
  color: #cdcdcd;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  padding: 5px 0px;
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-meta.top {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  article.tempo-article.classic div.tempo-meta.top {
    letter-spacing: -0.8px;
  }
}
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border: none;
  color: #3a4043;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
}
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):after {
  display: none;
}
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #26ad60;
}
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:after {
  display: none;
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
    font-size: 12px;
  }
}
@media (max-width: 540px) {
  article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button).author {
    font-size: 0px;
  }
  article.tempo-article.classic div.tempo-meta.top a:not(.more-link):not(.tempo-btn):not(.btn):not(.button).author img {
    float: left;
    margin-top: -4px;
  }
}
article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
  margin-top: 40px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 36px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 32px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 28px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 28px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 28px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 28px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-thumbnail-wrapper,
  article.tempo-article.classic div.tempo-categories + div.tempo-thumbnail-wrapper {
    margin-top: 26px;
  }
}
article.tempo-article.classic div.tempo-thumbnail-wrapper {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper {
  -webkit-box-shadow: 0px 20px 35px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 20px 35px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 20px 35px -5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 13s ease-out;
  -moz-transition: all 13s ease-out;
  transition: all 13s ease-out;
  max-height: 100%;
  max-width: 100%;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 13s ease-out;
  -moz-transition: all 13s ease-out;
  transition: all 13s ease-out;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):after {
  display: none;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) span {
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: -100%;
  line-height: normal;
  padding: 50px;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.9);
  font-weight: normal;
  max-width: 650px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 1260px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) span {
    padding: 40px;
    font-size: 16px;
    line-height: normal;
  }
}
@media (max-width: 1120px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) span {
    padding: 35px;
    font-size: 15px;
    line-height: normal;
  }
}
@media (max-width: 780px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) span {
    padding: 24px;
    font-size: 14px;
    line-height: normal;
  }
}
@media (max-width: 580px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) span {
    display: none;
  }
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  opacity: 1;
  filter: alpha(opacity=100);
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover span {
  margin-bottom: 0%;
  color: #ffffff;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:after {
  display: none;
}
article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 40px;
  margin-top: 30px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 40px;
    margin-top: 30px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 36px;
    margin-top: 28px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 32px;
    margin-top: 26px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 28px;
    margin-top: 24px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 28px;
    margin-top: 24px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 28px;
    margin-top: 24px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 28px;
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-meta.top + div.tempo-hentry,
  article.tempo-article.classic div.tempo-categories + div.tempo-hentry {
    padding-top: 26px;
    margin-top: 24px;
  }
}
article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
  margin-top: 60px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 58px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 52px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 50px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 46px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 44px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 37px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 36px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 34px;
  }
}
@media (max-width: 540px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 32px;
  }
}
@media (max-width: 480px) {
  article.tempo-article.classic div.tempo-thumbnail-wrapper + div.tempo-hentry {
    margin-top: 30px;
  }
}
article.tempo-article.classic a.more-link {
  border: none;
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  padding: 0px;
  margin: 20px 0px 0px 0px;
}
@media (max-width: 1680px) {
  article.tempo-article.classic a.more-link {
    margin-top: 19px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 1440px) {
  article.tempo-article.classic a.more-link {
    margin-top: 17px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 1380px) {
  article.tempo-article.classic a.more-link {
    margin-top: 16px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic a.more-link {
    margin-top: 15px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 1199px) {
  article.tempo-article.classic a.more-link {
    margin-top: 14px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 1024px) {
  article.tempo-article.classic a.more-link {
    margin-top: 13px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic a.more-link {
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  article.tempo-article.classic a.more-link {
    margin-top: 11px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 540px) {
  article.tempo-article.classic a.more-link {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
  }
}
article.tempo-article.classic a.more-link i {
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 12px;
  height: 18px;
  line-height: 18px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 1680px) {
  article.tempo-article.classic a.more-link i {
    font-size: 16px;
    height: 18px;
    line-height: 18px;
  }
}
@media (max-width: 1280px) {
  article.tempo-article.classic a.more-link i {
    font-size: 15px;
    height: 17px;
    line-height: 17px;
  }
}
@media (max-width: 991px) {
  article.tempo-article.classic a.more-link i {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
  }
}
article.tempo-article.classic a.more-link:hover {
  color: #26ad60;
  background: transparent;
}
article.tempo-article.classic a.more-link:hover i {
  margin-left: 12px;
  margin-right: 8px;
}
article.tempo-article.grid,
article.tempo-article.portfolio {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
article.tempo-article.grid:hover,
article.tempo-article.portfolio:hover {
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 22px -8px rgba(0, 0, 0, 0.2);
}
article.tempo-article.grid div.tempo-content,
article.tempo-article.portfolio div.tempo-content {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
article.tempo-article.grid div.tempo-thumbnail-wrapper,
article.tempo-article.portfolio div.tempo-thumbnail-wrapper {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.tempo-article.grid div.tempo-thumbnail-wrapper img,
article.tempo-article.portfolio div.tempo-thumbnail-wrapper img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 13s ease-out;
  -moz-transition: all 13s ease-out;
  transition: all 13s ease-out;
}
article.tempo-article.grid div.tempo-thumbnail-mask,
article.tempo-article.portfolio div.tempo-thumbnail-mask {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.tempo-article.grid div.tempo-thumbnail-wrapper + div.tempo-content,
article.tempo-article.portfolio div.tempo-thumbnail-wrapper + div.tempo-content {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
article.tempo-article.grid div.tempo-categories,
article.tempo-article.portfolio div.tempo-categories {
  background: #3a4043;
  color: #ffffff;
  height: 30px;
  position: relative;
  display: inline-block;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.4);
}
@media (max-width: 780px) {
  article.tempo-article.grid div.tempo-categories,
  article.tempo-article.portfolio div.tempo-categories {
    display: none;
  }
}
article.tempo-article.grid div.tempo-categories span,
article.tempo-article.portfolio div.tempo-categories span {
  display: inline-block;
  padding: 3px 15px;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
article.tempo-article.grid div.tempo-categories i,
article.tempo-article.portfolio div.tempo-categories i {
  display: inline-block;
  background-color: #26ad60;
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
  text-align: center;
}
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button),
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 3px 15px;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  border-right: 3px solid #26ad60;
  border-bottom: none;
  text-transform: uppercase;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):after,
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):after {
  display: none;
}
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover,
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #ffffff;
}
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.grid div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:after,
article.tempo-article.portfolio div.tempo-categories a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:after {
  display: none;
}
article.tempo-article.grid div.tempo-categories ul,
article.tempo-article.portfolio div.tempo-categories ul {
  min-width: 100%;
  position: absolute;
  display: none;
  right: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 1;
  text-align: right;
  -webkit-box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.4);
}
article.tempo-article.grid div.tempo-categories ul li,
article.tempo-article.portfolio div.tempo-categories ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}
article.tempo-article.grid div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button),
article.tempo-article.portfolio div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #26ad60;
  padding: 8px 15px 8px 15px;
  margin: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: max-content;
  min-width: 100%;
  display: block;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.tempo-article.grid div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
article.tempo-article.portfolio div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
}
article.tempo-article.grid div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover,
article.tempo-article.portfolio div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #ffffff;
}
article.tempo-article.grid div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before,
article.tempo-article.portfolio div.tempo-categories ul li a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
article.tempo-article.grid div.tempo-categories ul li:first-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button),
article.tempo-article.portfolio div.tempo-categories ul li:first-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border-top: none;
}
article.tempo-article.grid div.tempo-categories ul li:last-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button),
article.tempo-article.portfolio div.tempo-categories ul li:last-child a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
article.tempo-article.grid div.tempo-categories:hover ul,
article.tempo-article.portfolio div.tempo-categories:hover ul {
  display: block;
}
article.tempo-article.portfolio div.tempo-content {
  position: relative;
}
article.tempo-article.portfolio div.tempo-content div.tempo-meta.bottom {
  position: relative;
}
article.tempo-article.portfolio div.tempo-content:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0) 20%);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
}
article.tempo-article.portfolio:hover div.tempo-content:before {
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  opacity: 1;
  filter: alpha(opacity=100);
}
div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title,
div.tempo-grid-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title,
div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.grid h3.tempo-title,
div.tempo-grid-wrapper.col-lg-4 article.tempo-article.grid h3.tempo-title {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1560px) and (min-width: 1261px) {
  div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article div.tempo-meta.bottom,
  div.tempo-grid-wrapper.col-lg-4 article.tempo-article div.tempo-meta.bottom {
    display: none;
  }
}
@media (max-width: 1380px) {
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 1280px) {
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 991px) {
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title,
  div.tempo-grid-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 1560px) and (min-width: 1261px) {
  div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title {
    margin-bottom: 0px;
    border-bottom: none;
  }
  div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title:before {
    display: none;
  }
  div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title:hover:before {
    display: none;
  }
}
@media (max-width: 1260px) {
  section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-4 article.tempo-article.portfolio h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-4 article.tempo-article.grid h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-4 article.tempo-article.grid h3.tempo-title {
    font-size: 18px;
    line-height: 26px;
  }
}
section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title,
section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title {
  font-size: 24px;
  line-height: 34px;
}
@media (max-width: 1261px) {
  section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-6 article.tempo-article.portfolio h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-portfolio-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title,
  section.tempo-section.tempo-content-layout.layout-full div.tempo-grid-wrapper.col-lg-6 article.tempo-article.grid h3.tempo-title {
    font-size: 18px;
    line-height: 26px;
  }
}
.tempo-hentry .mejs-container,
.tempo-hentry .mejs-embed,
.tempo-hentry .mejs-embed body,
.tempo-hentry .mejs-container .mejs-controls {
  background-color: #3a4043;
}
.tempo-hentry .mejs-container,
.tempo-hentry .mejs-container .mejs-mediaelement,
.tempo-hentry .mejs-container .mejs-controls {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tempo-hentry .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #26ad60;
}
.pagination span,
.pagination-wrapper span,
.pagination a,
.pagination-wrapper a {
  border: none;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  padding: 11px 20px;
  margin: 0px 4px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1440px) {
  .pagination span,
  .pagination-wrapper span,
  .pagination a,
  .pagination-wrapper a {
    font-size: 14px;
    line-height: 22px;
    padding: 9px 19px;
  }
}
@media (max-width: 1199px) {
  .pagination span,
  .pagination-wrapper span,
  .pagination a,
  .pagination-wrapper a {
    font-size: 13px;
    line-height: 20px;
    padding: 7px 17px;
  }
}
@media (max-width: 991px) {
  .pagination span,
  .pagination-wrapper span,
  .pagination a,
  .pagination-wrapper a {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
  }
}
.pagination span,
.pagination-wrapper span {
  background-color: #26ad60;
  color: #ffffff;
}
.pagination span.page-numbers.dots,
.pagination-wrapper span.page-numbers.dots {
  background-color: transparent;
  color: #3a4043;
}
.pagination a,
.pagination-wrapper a {
  background-color: #3a4043;
  color: #ffffff;
}
.pagination a:hover,
.pagination-wrapper a:hover {
  background-color: #26ad60;
  color: #ffffff;
}
.pagination nav,
.pagination-wrapper nav {
  margin: 0px;
  display: block;
}
.pagination-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pagination-wrapper.aligncenter {
  padding-top: 80px;
  margin-bottom: -40px;
}
@media (max-width: 1680px) {
  .pagination-wrapper.aligncenter {
    padding-top: 72px;
    margin-bottom: -28px;
  }
}
@media (max-width: 1440px) {
  .pagination-wrapper.aligncenter {
    padding-top: 65px;
    margin-bottom: -25px;
  }
}
@media (max-width: 1380px) {
  .pagination-wrapper.aligncenter {
    padding-top: 62px;
    margin-bottom: -24px;
  }
}
@media (max-width: 1280px) {
  .pagination-wrapper.aligncenter {
    padding-top: 58px;
    margin-bottom: -22px;
  }
}
@media (max-width: 1199px) {
  .pagination-wrapper.aligncenter {
    padding-top: 54px;
    margin-bottom: -21px;
  }
}
@media (max-width: 1024px) {
  .pagination-wrapper.aligncenter {
    padding-top: 46px;
    margin-bottom: -18px;
  }
}
@media (max-width: 991px) {
  .pagination-wrapper.aligncenter {
    padding-top: 45px;
    margin-bottom: -17px;
  }
}
@media (max-width: 767px) {
  .pagination-wrapper.aligncenter {
    padding-top: 36px;
    margin-bottom: -12px;
  }
}
@media (max-width: 480px) {
  .pagination-wrapper.aligncenter {
    padding-top: 32px;
    margin-bottom: -8px;
  }
}
.pagination.aligncenter {
  margin: -1px 0px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 80px;
}
@media (max-width: 1680px) {
  .pagination.aligncenter {
    padding-top: 72px;
  }
}
@media (max-width: 1440px) {
  .pagination.aligncenter {
    padding-top: 65px;
  }
}
@media (max-width: 1380px) {
  .pagination.aligncenter {
    padding-top: 62px;
  }
}
@media (max-width: 1280px) {
  .pagination.aligncenter {
    padding-top: 58px;
  }
}
@media (max-width: 1199px) {
  .pagination.aligncenter {
    padding-top: 54px;
  }
}
@media (max-width: 1024px) {
  .pagination.aligncenter {
    padding-top: 46px;
  }
}
@media (max-width: 991px) {
  .pagination.aligncenter {
    padding-top: 45px;
  }
}
@media (max-width: 767px) {
  .pagination.aligncenter {
    padding-top: 36px;
  }
}
@media (max-width: 540px) {
  .pagination.aligncenter {
    padding-top: 34px;
  }
}
@media (max-width: 480px) {
  .pagination.aligncenter {
    padding-top: 32px;
  }
}
#comments .pagination i.tempo-icon-left-open-1 {
  margin-right: 5px;
}
#comments .pagination i.tempo-icon-right-open-1 {
  margin-left: 5px;
}
.tempo-shortcode.posts.grid .pagination-wrapper,
.tempo-shortcode.posts.portfolio .pagination-wrapper {
  padding-top: 65px;
}
@media (max-width: 1680px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 57px;
  }
}
@media (max-width: 1440px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 50px;
  }
}
@media (max-width: 1380px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 47px;
  }
}
@media (max-width: 1280px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 43px;
  }
}
@media (max-width: 1199px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 39px;
  }
}
@media (max-width: 1024px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 31px;
  }
}
@media (max-width: 991px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 21px;
  }
}
@media (max-width: 540px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 19px;
  }
}
@media (max-width: 480px) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 17px;
  }
}
.tempo-shortcode.posts.grid .pagination-wrapper span,
.tempo-shortcode.posts.portfolio .pagination-wrapper span,
.tempo-shortcode.posts.grid .pagination-wrapper a,
.tempo-shortcode.posts.portfolio .pagination-wrapper a {
  border: none;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  padding: 11px 20px;
  margin: 0px 4px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1440px) {
  .tempo-shortcode.posts.grid .pagination-wrapper span,
  .tempo-shortcode.posts.portfolio .pagination-wrapper span,
  .tempo-shortcode.posts.grid .pagination-wrapper a,
  .tempo-shortcode.posts.portfolio .pagination-wrapper a {
    font-size: 14px;
    line-height: 22px;
    padding: 9px 19px;
  }
}
@media (max-width: 1199px) {
  .tempo-shortcode.posts.grid .pagination-wrapper span,
  .tempo-shortcode.posts.portfolio .pagination-wrapper span,
  .tempo-shortcode.posts.grid .pagination-wrapper a,
  .tempo-shortcode.posts.portfolio .pagination-wrapper a {
    font-size: 13px;
    line-height: 20px;
    padding: 7px 17px;
  }
}
@media (max-width: 991px) {
  .tempo-shortcode.posts.grid .pagination-wrapper span,
  .tempo-shortcode.posts.portfolio .pagination-wrapper span,
  .tempo-shortcode.posts.grid .pagination-wrapper a,
  .tempo-shortcode.posts.portfolio .pagination-wrapper a {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
  }
}
.tempo-shortcode.posts.grid .pagination-wrapper span,
.tempo-shortcode.posts.portfolio .pagination-wrapper span {
  background-color: #26ad60;
  color: #ffffff;
}
.tempo-shortcode.posts.grid .pagination-wrapper span.page-numbers.dots,
.tempo-shortcode.posts.portfolio .pagination-wrapper span.page-numbers.dots {
  background-color: transparent;
  color: #3a4043;
}
.tempo-shortcode.posts.grid .pagination-wrapper a,
.tempo-shortcode.posts.portfolio .pagination-wrapper a {
  background-color: #3a4043;
  color: #ffffff;
}
.tempo-shortcode.posts.grid .pagination-wrapper a:hover,
.tempo-shortcode.posts.portfolio .pagination-wrapper a:hover {
  background-color: #26ad60;
  color: #ffffff;
}
.tempo-shortcode.posts.grid .pagination-wrapper nav,
.tempo-shortcode.posts.portfolio .pagination-wrapper nav {
  margin: 0px;
  display: block;
}
