html,
body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  word-wrap: break-word;
}
a {
  color: #585c64;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #3c3f44;
  border: none;
}
big {
  color: #121212;
  font-size: 120%;
  font-weight: bold;
}
hr {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 1680px) {
  hr {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
@media (max-width: 1440px) {
  hr {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}
@media (max-width: 1380px) {
  hr {
    margin-top: 62px;
    margin-bottom: 62px;
  }
}
@media (max-width: 1280px) {
  hr {
    margin-top: 58px;
    margin-bottom: 58px;
  }
}
@media (max-width: 1199px) {
  hr {
    margin-top: 54px;
    margin-bottom: 54px;
  }
}
@media (max-width: 1024px) {
  hr {
    margin-top: 46px;
    margin-bottom: 46px;
  }
}
@media (max-width: 991px) {
  hr {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  hr {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}
@media (max-width: 540px) {
  hr {
    margin-top: 34px;
    margin-bottom: 34px;
  }
}
@media (max-width: 480px) {
  hr {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button) {
  border: none;
  display: inline-block;
  position: relative;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before {
  background: rgba(88, 92, 100, 0);
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 0px;
  height: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  border: none;
}
.hentry .tempo-hentry a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before {
  background: rgba(88, 92, 100, 0.6);
  content: '';
  bottom: 5px;
  left: 5%;
  width: 90%;
}
.hentry .tempo-hentry a.not-decoration:before,
.hentry .tempo-hentry a.not-decoration:hover:before {
  display: none;
}
.hentry .tempo-hentry table a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):before,
.hentry .tempo-hentry table a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover:before {
  display: none;
}
.hentry .tempo-hentry table a:not(.more-link):not(.tempo-btn):not(.btn):not(.button):hover {
  color: #26ad60;
}
.hentry .tempo-hentry small {
  color: #454545;
  line-height: 24px;
}
div.tempo-page,
body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
  padding: 120px 0px;
}
@media (max-width: 1680px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 100px 0px;
  }
}
@media (max-width: 1440px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 90px 0px;
  }
}
@media (max-width: 1380px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 86px 0px;
  }
}
@media (max-width: 1280px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 80px 0px;
  }
}
@media (max-width: 1199px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 75px 0px;
  }
}
@media (max-width: 1024px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 64px 0px;
  }
}
@media (max-width: 991px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 62px 0px;
  }
}
@media (max-width: 767px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 48px 0px;
  }
}
@media (max-width: 540px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 44px 0px;
  }
}
@media (max-width: 480px) {
  div.tempo-page,
  body.page-template-blog-grid-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio,
  body.page-template-blog-portfolio-php div.tempo-breadcrumbs + div.tempo-page.template-blog-portfolio {
    padding: 40px 0px;
  }
}
div.tempo-topper-nav div.tempo-container,
div.tempo-website-wrapper div.tempo-container {
  max-width: 1630px;
  width: 92.5%;
}
div.tempo-page section.tempo-content-layout.layout-left div.tempo-section-content,
div.tempo-page section.tempo-content-layout.layout-right div.tempo-section-content {
  border-left: none;
  border-right: none;
  padding-left: 0px;
  padding-right: 0px;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-right {
  float: right;
  padding-left: 3.75%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-left {
  float: left;
  padding-right: 3.75%;
}
.tempo-content-layout.layout-left {
  float: right;
  padding-left: 0px;
  padding-right: 15px;
}
.tempo-content-layout.layout-right {
  float: left;
  padding-left: 15px;
  padding-right: 0px;
}
.tempo-content-layout.layout-left,
.tempo-content-layout.layout-right {
  width: 65.3125%;
}
@media (max-width: 1260px) {
  .tempo-content-layout.layout-left,
  .tempo-content-layout.layout-right {
    float: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
  float: left;
  padding-right: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
    padding-right: 0;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
  float: right;
  padding-left: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
    padding-left: 0;
  }
}
@media (max-width: 1260px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
    display: none;
  }
}
.tempo-hentry p + div.clearfix:last-child,
.tempo-hentry pre + div.clearfix:last-child {
  margin-top: -40px;
}
@media (max-width: 1680px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -40px;
  }
}
@media (max-width: 1440px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -36px;
  }
}
@media (max-width: 1380px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -32px;
  }
}
@media (max-width: 1280px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -28px;
  }
}
@media (max-width: 1199px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -28px;
  }
}
@media (max-width: 1024px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -28px;
  }
}
@media (max-width: 991px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -28px;
  }
}
@media (max-width: 767px) {
  .tempo-hentry p + div.clearfix:last-child,
  .tempo-hentry pre + div.clearfix:last-child {
    margin-top: -26px;
  }
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
::selection {
  background: #373b43;
  color: #fff;
}
